@use "../partials/mixins";
@use "../partials/variables";
.hero {
    background: url('/images/home-hero.png') no-repeat bottom;
    background-size: cover;
    padding: 10% 0 30%;

    @include mixins.query(tablet) {
        padding: 15% 0 45%;
    }

    @include mixins.query(smallMobile) {
        padding: 20% 0 55%;
    }

    @include mixins.query(small) {
        padding: 30% 0 65%;
    }

    .content_wrap {
        max-width: 450px;
    }

    h2 {
        font-size: 3rem;
        @include mixins.query(tablet) {
            font-size: 2.5rem;
        }

        @include mixins.query(mobile) {
            font-size: 2rem;
        }


        span {
            background: variables.$white;
            padding: 5px;
        }
    }
    p {
        margin-bottom: 30px;
    }
}
.about_us {
    background: url('/images/home-about-us.png') no-repeat top;
    background-size: cover;
    padding: 2% 0 24%;

    p:not(.sub_heading) {
        color: variables.$gray;
        font-size: 1.1rem;

        span {
            @include mixins.interBold;
        }
    }
}
.themes {
    background: url('/images/home-daily-themes.png') no-repeat top;
    background-size: cover;
    color: variables.$white;

}

.home_register {
    background: variables.$pink url('/images/home-register.png') no-repeat center bottom;
    background-size: cover;
    padding-bottom: 18%;
    color: variables.$white;

    .button_row {
        padding: 0 20px;
        left: -5px;
        position: relative;

        @include mixins.query(mobile) {
            padding: 0;
        }
    }

    span {
        &.font-bold {
            @include mixins.interBold;
        }

        &.yellow {
            color: yellow !important;
        }
    }

    .sub_heading_box {
        margin: 20px auto;
        max-width: 625px;
        padding: 10px;
        border: 1px solid variables.$white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        position: relative;

        p {
            font-size: 1.6rem;

            @include mixins.query(mobile) {
                font-size: 1.2rem;
            }
        }

        &:before, &:after {
            content: '';
            background: url('/images/frame-line.png') no-repeat;
            background-size: 100%;
            position: absolute;
            top: 50%;
            left: -76px;
            width: 75px;
            height: 8px;
            transform: translateY(-40%);
        }

        &:after {
            left: auto;
            right: -76px;
            transform: rotate(180deg);
        }
    }
}

.join_now {
    background: url('/images/home-register-bottom.png') no-repeat top;
    padding: 40px 0;
    overflow: hidden;
}

.text_scroll {

    h3 {
        color: variables.$blue;
        font-size: 1.8rem;
        position: relative;

        @include mixins.query(tablet) {
            font-size: 1.5rem;
        }

        @include mixins.query(mobile) {
            font-size: 3vw;
        }
    }

    ul {
        position: relative;
    }
    li {
        position: relative;

        /*h3:after {
            content: '.';
            font-size: 4rem;
            color: #0091D0;
            position: absolute;
            top: -46px;
            right: -150%;
            width: 20px;
            height: 20px;
            z-index: 1;
        }*/
    }


}
