@use "mixins";
@use "variables";
.container {
    @media (width >= 0) {
        max-width: 80rem;
    }
}

body, html {
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

section {

    &:not(.hero) {
        h2 {
            font-size: 4.5rem;
            line-height: 1;
            color: variables.$white;
            text-transform: uppercase;

            @include mixins.query(desktop) {
                font-size: 3.5rem;
            }

            @include mixins.query(mobile) {
                font-size: 3rem;
            }
        }

        .small_container {
            max-width: 675px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    p {
        font-size: 1.2rem;

        @include mixins.query(desktop) {
            font-size: 1.1rem;
        }

        @include mixins.query(mobile) {
            font-size: 1rem;
        }
    }

    .page_hero {
        background: url('../../../public/images/page-hero.png') no-repeat center top;
        background-size: cover;
        padding: 12% 0 19%;

        @include mixins.query(tablet) {
            padding: 20% 0 19%;
        }

        @include mixins.query(smallMobile) {
            padding: 25% 0 19%;
        }

        @include mixins.query(small) {
            padding: 30% 0 19%;
        }

        h2 {
            color: variables.$black;
            text-transform: none;
            padding: 0 20px;
        }
    }
}

.white_box {
    background: variables.$white;
    padding: 20px 40px;
    border-radius: 85px 40px 85px 40px;
    -webkit-border-radius: 85px 40px 85px 40px;

    p {
        color: variables.$gray;
    }
}
section:not(.hero) {
    .orange_box {
        background: variables.$lightOrange;
        border-radius: 85px;
        -webkit-border-radius: 85px;
        position: relative;
        max-width: 1000px;

        h2 {
            font-size: 3.5rem;

            @include mixins.query(tablet) {
                font-size: 5vw;
            }

            @include mixins.query(mobile) {
                font-size: 1.9rem;
            }

            /*@include mixins.query(mobile) {
                font-size: 3.0rem;
            }*/
        }

        &:before {
            content: '';
            position: absolute;
            border-radius: 85px;
            -webkit-border-radius: 85px;
            width: 100%;
            height: 100%;
            border: 1px solid variables.$lightOrange;
            transform: rotate(-1.5deg);
        }

        p {
            color: variables.$orange;

            span {
                @include mixins.interBold;
            }
        }

        .text_col {
            padding: 40px;
            z-index: 2;

            @media all and (max-width: 550px) {
                text-align: center;
            }
        }

        .image_col {
            position: relative;
            width: 55%;
            align-self: flex-end;

            @media all and (max-width: 639px) {
                display: none;
            }

            img {
                position: absolute;
                max-width: unset;
                width: 150%;
                right: 50px;
                bottom: 0;

                @media all and (max-width: 639px) {
                    right: 0;
                    width: 75%;
                    z-index: 1;
                }
            }
        }
    }
}

.button {
    @include mixins.boldoaMat;
    padding: 10px 30px;
    color: variables.$white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    font-size: 1.5rem;

    @include mixins.query(tablet) {
        font-size: .9rem;
        padding: 10px;
    }

    @include mixins.query(mobile) {
        padding: 10px 20px;
    }

    &.green {
        background: variables.$green;

        &:hover {
            background: variables.$orange;
        }
    }

    &.white {
        background: variables.$white;

        &:hover {
            background: variables.$yellowHover;
        }
    }
}
