@use "variables";

@mixin interReg {
    font-family: "inter-regular", sans-serif;
}

@mixin interItalic {
    font-family: "inter-italic", sans-serif;
}

@mixin interBold {
    font-family: "inter-bold", sans-serif;
}

@mixin boldoaMat {
    font-family: "boldoa-mat", sans-serif;
}


@mixin query($screen) {
    @each $key, $value in variables.$bp {
        @if ($screen == $key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}
