@use "mixins";

@font-face {
    font-family: "inter-regular";
    src: url("/resources/fonts/inter-regular-webfont.eot"),
    url("/resources/fonts/inter-regular-webfont.ttf") format("truetype"),
    url("/resources/fonts/inter-regular-webfont.woff") format("woff"),
    url("/resources/fonts/inter-regular-webfont.woff2") format("woff2"),
    url("/resources/fonts/inter-regular-webfont.svg#interregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "inter-bold";
    src: url("/resources/fonts/inter-bold-webfont.eot"),
    url("/resources/fonts/inter-bold-webfont.ttf") format("truetype"),
    url("/resources/fonts/inter-bold-webfont.woff") format("woff"),
    url("/resources/fonts/inter-bold-webfont.woff2") format("woff2"),
    url("/resources/fonts/inter-bold-webfont.svg#interbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "inter-italic";
    src: url("/resources/fonts/inter-italic-webfont.eot"),
    url("/resources/fonts/inter-italic-webfont.ttf") format("truetype"),
    url("/resources/fonts/inter-italic-webfont.woff") format("woff"),
    url("/resources/fonts/inter-italic-webfont.woff2") format("woff2"),
    url("/resources/fonts/inter-italic-webfont.svg#interitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "boldoa-mat";
    src: url("/resources/fonts/boldoa_mat-webfont.eot"),
    url("/resources/fonts/boldoa_mat-webfont.ttf") format("truetype"),
    url("/resources/fonts/boldoa_mat-webfont.woff") format("woff"),
    url("/resources/fonts/boldoa_mat-webfont.woff2") format("woff2"),
    url("/resources/fonts/boldoa_mat-webfont.svg#boldoamat") format("svg");
    font-weight: normal;
    font-style: normal;
}

h2, h3 {
    @include mixins.boldoaMat;
}

p, h4, h5, h6 {
    @include mixins.interReg;
}

a {
    @include mixins.interReg;
}
