
$black: #000000;
$white: #ffffff;
$pink: #CCC4A9;
$green: #A8C524;
$orange: #F0612A;
$lightOrange: #FBBA54;
$gray: #626262;
$lightGray: #FDF0F5;
$darkGray: #3b3b3b;
$borderGray: #EAACC4;
$blue: #0091D0;
$yellowHover: #cfc809;
$yellow: yellow;

$bp: (
    small: 450px,
    smallMobile: 550px,
    mobile: 768px,
    tablet: 1024px,
    desktop: 1199px
)
