
$black: #000000;
$white: #ffffff;
$darkBlue: #0f606b;
$yellow: #f5ed1e;
$yellowHover: #cfc809;
$lightYellow: #f6f6e9;

$box1bg: #bfe5e8;
$box1Txt: #769597;
$box2bg: #efece5;
$box2Txt: #a4987b;
$box3bg: #ddebeb;
$box3Txt: #648c8c;
$box4bg: #edd9b7;
$box4Txt: #8f7953;
$box5bg: #f0c3ce;
$box5Txt: #935e6b;

$bp: (
    small: 400px,
    smallMobile: 550px,
    mobile: 768px,
    tablet: 992px,
    desktop: 1199px
)
